<table class= "table">
  <tr class= "bg-secondary text-white" >
    <th>Standing</th>
    <th>Team</th>
    <th>Played</th>
    <th>Won</th>
    <th>Lost</th>
    <th>Draw</th>
    <th>Goals for</th>
    <th>Goals against</th>
    <th>Points</th>
  </tr>
  <% @teams.each do |t| %>
    <tr class=" <%= if t.id == @id_of_team_to_be_highlighted then 'bg-danger' else '' end %>">
      <td> <%= t.standing %> </td>
      <td class="font-weight-bold"> <%= t.name%> </td>
      <td> <%= t.played%> </td>
      <td> <%= t.won%> </td>
      <td> <%= t.lost%> </td>
      <td> <%= t.drawn%> </td>
      <td> <%= t.goals_for%> </td>
      <td> <%= t.goals_against%> </td>
      <td> <%= t.points%> </td>
    </tr>
  <% end%>

</table>
<%= link_to "show raw file", result_raw_data_url , class: "float-right"%>
